In [1]:
import pandas as pd

file_path = "Ex.3.xlsx"  
df = pd.read_excel(file_path)  
df.head()

,Diena,Savaitės diena,Statistinis tiekėjas,"Užduočių skaičius, vnt.","Išvežtų palečių skaičius, vnt.","Kiek pakuočių išrūšiuota, vnt."
0,2024 sausis 2,ketvirtadienis,Sandėlis A123,6461.68,142.2,2331
1,2024 sausis 2,ketvirtadienis,Sandėlis B456,13629.00,432.7,7138
2,2024 sausis 2,ketvirtadienis,Sandėlis C789,309.16,2.5,150
3,2024 sausis 2,ketvirtadienis,Sandėlis D741,1720.44,16.3,497
4,2024 sausis 2,ketvirtadienis,Sandėlis E852,224.20,17.6,113

In [2]:
df.dtypes

Diena                              object
Savaitės diena                     object
Statistinis tiekėjas               object
Užduočių skaičius, vnt.           float64
Išvežtų palečių skaičius, vnt.    float64
Kiek pakuočių išrūšiuota, vnt.      int64
dtype: object

In [3]:
months_lt_to_en = {
    "sausis": "January", "vasaris": "February", "kovas": "March",
    "balandis": "April", "gegužė": "May", "birželis": "June",
    "liepa": "July", "rugpjūtis": "August", "rugsėjis": "September",
    "spalis": "October", "lapkritis": "November", "gruodis": "December"
}

for lt, en in months_lt_to_en.items():
    df["Diena"] = df["Diena"].str.replace(lt, en, regex=True)

df["Diena"] = pd.to_datetime(df["Diena"], format="%Y %B %d", errors="coerce", dayfirst=True)

In [4]:
df.head()

,Diena,Savaitės diena,Statistinis tiekėjas,"Užduočių skaičius, vnt.","Išvežtų palečių skaičius, vnt.","Kiek pakuočių išrūšiuota, vnt."
0,2024-01-02,ketvirtadienis,Sandėlis A123,6461.68,142.2,2331
1,2024-01-02,ketvirtadienis,Sandėlis B456,13629.00,432.7,7138
2,2024-01-02,ketvirtadienis,Sandėlis C789,309.16,2.5,150
3,2024-01-02,ketvirtadienis,Sandėlis D741,1720.44,16.3,497
4,2024-01-02,ketvirtadienis,Sandėlis E852,224.20,17.6,113

In [5]:
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [6]:
duplicate_rows = df.duplicated().sum()
print(duplicate_rows)

if duplicate_rows > 0:
    df = df.drop_duplicates()
    print(len(df))

0

In [7]:
df.to_excel("Ex.3_cleaned.xlsx", index=False)

In [8]:
df.to_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Ex.3_cleaned.csv", index=False, encoding="utf-8")